.well
  %h2 
    Welcome, 
    = @char[:name]
  %p 
    You can create, delete and share your participation links from here
  %p
    %a{ href: "/link/new" }
      %button.btn.btn-success
        Create