.hero-unit
  %h3 Best things in life are free...
  And so is this site. I am using my free time to code this every now and then. If the interest grows, and I will be getting useful feedback I will think about adding new features, new badges and so on.
  %p
    If you like this site, you can consider donating to this guy. Just click the portrait or name from the InGame Browser to bring up character info.
  %p
    %img#ingame.img-rounded{:src => "http://image.eveonline.com/Character/810699209_128.jpg",  :onclick => "CCPEVE.showInfo(1377,810699209)"}
    %a{:href => "#"}
      %h3#ingame{:onclick => "CCPEVE.showInfo(1377,810699209)"}
        Adrian Dent

