.row
  .span3
  .content.span6
    .alert.alert-info
      %p
        In order to add your API key you need to generate a key with access to the Wallet Journal for a SINGLE character only.
        To generate a predefined key click the button below (it will open a new page/tab), and on the API page choose a character from the Character select field.
      %p
        %a{:href => "https://support.eveonline.com/api/key/CreatePredefined/2097152", :target => "_blank"}
          %button.btn.btn-info Generate Key
    %form#api_form.form-signin{ :style => "margin: 0px;"}
      %h2.form-signin-heading
        Enter your API info
      .field
        %input.input-block-level{ :required => true, :minlength => 7, :maxlength => 7, :id => :key_id, :name => :key_id, :type => :text, :placeholder => 'API key ID'}
      .field
        %textarea.input-block-level{ :required => true, :maxlength => 64, :id => :vcode, :name => :vcode, :type => :text, :placeholder => 'API key vCode'}
      .field
        %button#api_submit.btn.btn-large{ :type => :submit } Save
    .field
      %button#api_check.btn.btn-large Check API
  .span3
