/ %pre
/   = session
/ .alert.alert-info.key
/   %button.close{ :type => :button, "data-dismiss" => "alert" }
/     &times;
/   %p
/     In order to add your API key you need to generate a key with access to the Wallet Journal for a 
/     %b SINGLE 
/     character only.
/     To generate a predefined key click the button below (it will open a new page/tab), and on the API page choose a character from the Character select field.
/   %p
/     %a{:href => "https://support.eveonline.com/api/key/CreatePredefined/2097152", :target => "_blank"}
/       %button.btn.btn-info Generate Key
/ 
.form-signin
  %form#api_form{ :style => "margin: 0px;", :action => "/key/save", :method => :post }
    %h2.form-signin-heading
      Enter your API info
    %input.input-block-level{ :required => true, :minlength => 7, :maxlength => 7, :id => :key, :name => :key, :type => :text, :placeholder => 'API key ID'}
    %textarea.input-block-level{ :required => true, :maxlength => 64, :id => :vcode, :name => :vcode, :type => :text, :placeholder => 'API key vCode'}
    %input{ :type => :hidden, :name => :char_id, :id => :char_id }
    %input{ :type => :hidden, :name => :name, :id => :name }
    %button#api_submit.btn.btn-large{ :type => :submit } Save
    .row#anon
      %p
      %br
      .span1
        %input.input-inline{ :type => :checkbox, :name => :anon, :value => "anon" }
      .span5  
        %label 
          I want to remain anonymous. I want my name, corporation and portrait to remain hidden from the public (Placeholders will be used).
    
  %button#api_check.btn.btn-large Check API
