.well
  %span{ "data-target" => "#yo", "data-toggle" => "collapse"} Click
  .row
    .col-lg-2
      dupa
    .col-lg-3
      dupa2
  .row
    .col-lg-2
      dupa
    .col-lg-3
      dupa2
  .row
    .col-lg-2
      dupa
    .col-lg-3
      dupa2
  .row.collapse.in#yo
    .col-lg-2
      COLLAPSE
    .col-lg-3
      COLLAPSE
  .row
    .col-lg-2
      dupa
    .col-lg-3
      dupa2
