#search {
  margin-top: 5px;
}
.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

#profile_box {
  background-color: #272b30;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  height: 170px;
}

#stats h4 {
  margin-top: 0px;
}
#stats td {
  vertical-align: top;
}

#kill_box {
  background-color: #272b30;
  height: 180px;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -moz-border-radius: 5px;  
  -webkit-border-radius: 5px;
}

#kill_record {
  background-color: #272b30;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.margin20 {
  margin: 20px;
}

div#kill {
  margin-left: 23px;
}

#small_pic {
  width: 32px;
}

#isk {
  text-align: right;
}

.pagination ul > .disabled > {
  span {
    color: #999999;
    cursor: default;
    background-color: #fff;
  }
  a {
    color: #999999;
    cursor: default;
    background-color: #fff;
    &:hover {
      color: #999999;
      cursor: default;
      background-color: #fff;
    }
  }
}

#kill_log td {
  font-size: 12px;
}

td {
  vertical-align: middle;
}

#nokills {
  max-width: 940px;
}

.alert.key {
  max-width: 500px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
}

.form-signin {
  max-width: 500px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #272b30;
  border: 1px solid #272b30;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  .form-signin-heading, .checkbox {
    margin-bottom: 10px;
  }
  input {
    &[type="text"], &[type="password"] {
      font-size: 16px;
      height: auto;
      margin-bottom: 15px;
      padding: 7px 9px;
    }
  }
}

table {
  background-color: #272b30;
}

body {
  background-image: url('/assets/bg.jpg');
}

td.isk {
  text-align: right;
}

body {
  padding-top: 60px;
  /* 60px to make the container go all the way to the bottom of the topbar */
}
