.well
  %i
    %p
      "Progress... What is it?
      Out here progress is numbers.
      Milimiters, kilometers,
      headcounts,
      death tolls...
      This is progress
      Colonies burned...
      %span.white= nice_number Kill.where(rat_type: "Deadspace Overseer's Sentry").count
      Ships destroyed...
      %span.white= nice_number Kill.sum(:rat_amount)
      People killed...
      %span.white= nice_number Kill.overseer.sum(:rat_amount)
      Money earned...
      %span.white
        = nice_number WalletRecord.sum(:amount) /100
        ISK
      It all comes at a price...
      And if the price is right
      I'll set the universe on fire"