.hero-unit
  %h3 About me
  It's probably clear that among other things I am an EVE Online Player. 
  I've been using teh internetz for some time now, so as not to reinvent the wheel, here is a short list of places you can see my shit:
  %ul
    %li
      = link_to "Twitter", "https://twitter.com/aladac"
    %li
      = link_to "Blog", "http://aladac.tumblr.com"
   
  
  %hr
  %h3 Best things in life are free...
  And so is this site. I am using my free time to code this every now and then. If the interest grows, and I will be getting useful feedback I will think about adding new features, new badges and so on.
  %p
    If you like this site, you can consider donating to this guy. Just click the portrait or name from the InGame Browser to bring up character info.
  %p
    %img#ingame.img-rounded{:src => "http://image.eveonline.com/Character/810699209_128.jpg",  :onclick => "CCPEVE.showInfo(1377,810699209)"}
    %a{:href => "#"}
      %h3#ingame{:onclick => "CCPEVE.showInfo(1377,810699209)"}
        Adrian Dent
