.alert.alert-info
  %h3 This page is deprecated
  I started using
  %b
    %a{ href: "https://twitter.com/EveScore", target: :blank}
      Twitter
  as the change log. Please go
  %b
    %a{ href: "https://twitter.com/EveScore", target: :blank}
      there
  for future updates
- @news.each do |post|
  .hero-unit
    %h4
      = post.created_at
    %p
      = post.text.html_safe