.well
  %h1 Changelog
  %hr
  %p
    %h4 2013-06-05
    %p 
      %ul
        %li New logo!
        %li New dark theme!
        %li Info dropdown
        %li New character profile layout
        %li Removed graph (for now)
