.hero-unit
  %h3 
    Contact info
  - if request.headers["HTTP_USER_AGENT"] =~ /EVE-IGB$/
    %p
      Click on the portrait below or the link besides it to open the EVE Mail window  
    %a{ :onclick => "CCPEVE.sendMail(810699209, 'EVESCORE', ' ');"}
      = character_image(810699209, 32)
      EVE Mail
  - else
    %p
      email:
      = link_to "admin@evescore.com", "mailto:admin@evescore.com"
  