%a{ href: root_path } 
  EVE Score 
Copyright © 
%a{ href: "//twitter.com/aladac", target: :blank } @aladac
2013-2014,
%a{ href: "/home/legal" } EVE Online
Copyright © 
%a{ href: "http://www.ccpgames.com/en/home", taget: :blank } CCP 
1997-2014
