%form.form-search.form-inline{ :action => character_profile_path, :style => "margin-bottom: 0px" }
  %input#search.search-query{ :style => "width: 140px", :required => true, :type => :text, :autocomplete => :off, :name => :char_name, :"data-provide" => :typeahead, :"data-source" => Character.json }
  %button.btn{ :type => :submit }
    Search
