%form.form.search-main{ :action => character_profile_path }
  %input.typeahead.tt-query{ :placeholder => "Enter query...", :required => true, :type => :text, :name => :char_name }
  %button.btn{ type: :submit }
    Search